{
  "Debug": false,
  "ListenHost": ":34000",
  "RedisHost": "localhost:6379",
  "RedisPass": "",
  "RedisMaxIdle": 500,
  "SSLPrivateKey": "key_priv",
  "SSLCert": "key_ca",
  "ListenHostAPI": ":34001",
  "APIUsername": "",
  "APIPassword": "",
  "AnnInterval": 300,
  "AnnIntervalMin": 10,
  "ReapInterval": 400,
  "HNRThreshold": 1209600,
  "IndexInterval": 60,
  "InfluxDSN": "http://172.16.110:8086",
  "InfluxDB": "mika-dev",
  "InfluxUser": "",
  "InfluxPass": "",
  "InfluxWriteBuffer": 1000,
  "SQLHost": "localhost",
  "SQLPort": 3306,
  "SQLDB": "dbname",
  "SQLUser": "",
  "SQLPass": "",
  "SentryDSN": "http://x:x@sentry-host.com/1",
  "LogLevel": "info",
  "ColourLogs": true
}
