{
  "Debug": false,
  "ListenHost": ":34000",
  "RedisHost": "localhost:6379",
  "RedisPass": "",
  "RedisMaxIdle": 500,
  "AnnInterval": 300,
  "AnnIntervalMin": 10,
  "ReapInterval": 400,
  "HNRThreshold": 1209600,
  "SQLHost": "localhost",
  "SQLPort": 3306,
  "SQLDB": "dbname",
  "SQLUser": "",
  "SQLPass": "",
  "SentryDSN": "http://x:x@sentry-host.com/1"
}
